body {
  background: #f46b45;
  background: -webkit-linear-gradient(to left, #f46b45, #eea849);
  background: linear-gradient(to left, #f46b45, #eea849);
  height: 100vh;
  color: white;
  font-size: 1.8em;
}

i {
  font-size: 3em;
  margin: 0.5em auto;
}

button {
  font-size: 0.8em !important;
}

.main {
  padding-top: 50px;
}

.center-block {
  float: none !important;
}

.weather-content {
  margin: 0 auto;
}
