@import 'https://fonts.googleapis.com/css?family=Francois+One|Open+Sans|Pacifico';
body {
  background: #f46b45;
  height: 100vh;
  color: white;
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
}

i {
  font-size: 3em;
  margin: 0.4em auto;
}

button {
  font-size: 0.7em !important;
  font-family: 'Open Sans', sans-serif !important;
}

#weather {
  text-transform: capitalize;
}

.main {
  padding-top: 30px;
}

.center-block {
  float: none !important;
}

.center-block h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.8em;
}

.weather-content {
  margin: 0 auto;
}
